<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>938528096101-f8cmrap20kr4602lpdds15tiofo0hlvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938528096101-f8cmrap20kr4602lpdds15tiofo0hlvg</string>
	<key>API_KEY</key>
	<string>AIzaSyC_TfaG3In0gXqDtWz0zkX9rtIWQaOJ7BU</string>
	<key>GCM_SENDER_ID</key>
	<string>938528096101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.228202.sommelier</string>
	<key>PROJECT_ID</key>
	<string>diploma-80825</string>
	<key>STORAGE_BUCKET</key>
	<string>diploma-80825.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938528096101:ios:1a4d7be678badeda</string>
	<key>DATABASE_URL</key>
	<string>https://diploma-80825.firebaseio.com</string>
</dict>
</plist>